h1 a {
    color: #464646;
    font-family: 'Lobster';
}

h2 a {
    color: #464646;
    font-family: 'Lobster';
}

b {
color:#ffffff;
}

body {
	background-color:gray;
    

}

.page-header {
    background-color: #464646;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}


h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.about {
    margin-bottom: 70px;
    padding-left: 15px;
}

.about h1 a{
    color: #000000;
}
